.BodyLogin {
    background-image: url("../img/Restaurant.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  font-family: sans-serif;
}

.BodyRegistrar {
    background-image: url("../img/camarones.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 10px;
}

a{
  color: white;
  text-decoration: none;
  text-align: center;
}
.login {
  padding-top: 100px;
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}
.login a{
  color:white;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}


.login-header {
  background: #cc0000;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #cc000052;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  color: white;
  text-align: center;
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  text-align:center;
  font-family: inherit;
  font-size: 0.95em;
}

.login select {
    box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  text-align:center;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #443f3f;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #443f3f;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #443f3f;
}
.navbar{
  background:#cc0000
}
.navbar-brand {
    font-size: 24px;
}

.navbar-container {  
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
    margin: 0;
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}
.navbar-fixed-top {
    top: 0;
    margin: 0;
    border-width: 0 0 1px;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
#brand{
    color:white;
}
.navbar-nav a{
    color:white;
}